[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/pixmaps/phpMyAdmin.ico
Name=phpMyAdmin
Name[de]=phpMyAdmin
GenericName=Mysql Web Administration
Type=Application
Terminal=False
Exec=phpMyAdmin
Categories=Development;